<div>
  <div>
    <div class="chart" *ngIf="chartReady" >
      <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"  
        [options]="pieChartOptions"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
    </div>
  </div>
</div>


<ion-row>
    <ion-col>
          <div>
              <ion-button shape="round"
                          size="small"
                          fill="outline"
                          color="primary"
                          text-align= "center"
                          (click)="changeLegendPosition()">Mas Grande!</ion-button>
          </div> 
    </ion-col>
</ion-row>

