#tituloxs{
    font-size: 40px; 
  
  }
  .principal{
  
    text-align:center;
    color:rgb(0, 0, 0);
    
    font-family:  'Arial Narrow', Arial, sans-serif ;
  
  
  }

  #texto{
    text-align:start ; 
    font-family: 'Optima' , 'Arial'  ;
  }

.ioncard{
  font-size: 40px; 
  
}

.algo{
  ion-card-title{
    text-align:center;
  }
}
