<ion-header class = "titulo">
  <ion-toolbar>
    <ion-title id="titulo">
        <ion-icon solt="" name="planet" ></ion-icon>
      ¡bienvenido!
    </ion-title>
  </ion-toolbar>
</ion-header>


<div class ="principal">
    <ion-title id="tituloxs">
          <h1>
            <ion-icon solt="" name="cash" color="success" ></ion-icon>
            Saldo Total
            <ion-icon solt="" name="cash" color="success" ></ion-icon>
          </h1>

        $ {{viewtitle | FiltroPipe}} 
    </ion-title>
</div>





<div class ="principal">
  
    <h2>Historial de egresos</h2>
</div>




<ion-content color="danger">
    <!-- Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <!-- Posts -->
    <div>
        <app-posts [posts]="posts "  ></app-posts>    
        
    </div>
   



    <!-- Infinite Scroll -->
    
    <ion-infinite-scroll  [disabled]="!habilitado"
    threshold="150px"
    (ionInfinite)="siguientes($event)">
<ion-infinite-scroll-content>
</ion-infinite-scroll-content>
</ion-infinite-scroll>
</ion-content>




<div class ="principal">

    <h2>Historial de ingresos</h2>

</div>

<ion-content color="success">

  <!-- Refresher -->
  <ion-refresher slot="fixed" (ionRefresh)="recargar2($event)">
      <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Posts -->

    <div>
        <app-posts2 [posts2]="posts2 "  ></app-posts2>            
    </div>


    
    <!-- Infinite Scroll -->
    
    <ion-infinite-scroll  [disabled]="!habilitado"
    threshold="150px"
    (ionInfinite)="siguientes2($event)">
<ion-infinite-scroll-content>
</ion-infinite-scroll-content>
</ion-infinite-scroll>  
</ion-content>




